main.about{
	min-height: 100vh;
	min-width: 100vw;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
}
main.about header{
	width: 100%;
	user-select: none;
	padding: 1em 0;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
    align-items: center;
}
main.about header img{
    height: 5em;
    width: auto;
    margin: 0;
    transition: transform 0.2s ease;
    cursor: pointer;
}
main.about header img:hover{
    transform: translateY(-0.5em);
}
main.about .content{
    padding: 2em 7vw;
    display: flex;
    flex-direction: column;
    user-select: none;
    word-break: break-word;
}
.content h2{
	font-size: 1.5em;
	margin: 0;
}
.content p{
    margin-top: 0.5em;
    font-size: 1.2em;
}
.music {
	position: fixed;
	width: 600px;
	height: 600px;
	padding: 0;
	margin: 0;
	pointer-events: none;
}
.particle {
	position: absolute;  
	pointer-events: none;
 	font-size: 1.3em;
	padding: 0;
	margin: 0;
	animation: fadeOut 1s reverse ease-in forwards; 
	transition: transform 1s ease;
}
@keyframes fadeOut {
    0% {
        opacity: 0;
         
    }
    100% {
        top: 50%;
        left: 50%;
        opacity: 1;
    }
}
h2.to-home{
    position: fixed;
    left: 1em;
    bottom: 1em;
    color: black;
    padding: 0;
    margin: 0;
    text-decoration: none;
    user-select: none;
    cursor: pointer;
}
h2.to-home:hover{
	text-decoration: underline;
}
a, a:visited{
    color: dodgerblue;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}