main{
	min-height: 100vh;
	min-width: 100vw;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
main .center-piece #logo{
	height: 13em;
	width: 13em;
	user-select: none;
	margin: 0;
	padding: 0;
}
main .center-piece{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
main .center-piece h1{
	font-size: 3em;
	letter-spacing: 0.1em;
	margin-left: -0.5em;
}
main .sub-title{
	font-size: 1.3em;
}
main .btn{
	border-radius: 4px;
	outline: none;
	padding: 0.7em;
	font-size: 1.3em;
	cursor: pointer;
}
main .classic-btn{
	background-color: var(--primary);
}